{% extends 'music/base.html' %}

{% block title %} Album Details {% endblock %}

{% block body %}
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Artist</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Type: Ed Sheeran">
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput2">Album_title</label>
    <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="We kindly remind you not to add already present album!">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Genre</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Pop</option>
      <option>Rock</option>
      <option>Country Music</option>
      <option>Indie Rock</option>
      <option>Death Metal</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput3">Album_logo</label>
    <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="provide the link of album!">
  </div>
</form>

{% endblock%}