{% extends 'music/base.html' %}

{% block body %}
<h2> Here is the list of all my albums</h2>

{% if all_albums %}

	<div class="row">
	{% for album in all_albums %}
		<div class="col-sm-4">

				<div class="card" style="width: 23rem;">

				  <img class="card-img-top" src="{{album.album_logo}}" alt="Card image cap">

				  <div class="card-body">

				    <h5 class="card-title">{{album.album_title}}</h5>

				    <p class="card-text">{{album.artist}}</p>

				    <a href="{% url 'music:details' album.id%}" class="btn btn-outline-info" role="button">View Songs</a>

				    <!--<form action="{% url 'music:album-update' album.id %} " method="post">
					    <button type="button" class="btn btn-outline-success">Update</button>	
				    </form>-->
				    
				    <form action="{% url 'music:album-delete' album.id %} " method="post">
				    		{% csrf_token %}
				    	<button type="button" class="btn btn-outline-danger">Delete</button>	
				    </form>
				    
				  </div>

				</div>
		</div>
	{% endfor %}
	</div>

{%else %} 
	<h3>You don't have any music albums</h3>

{% endif %}

{% endblock %}